streamlit
pandas
langchain 
langchain_community 
langchain_experimental 
langgraph 
langchain_core
langchain-openai 
langchain-google-genai 
langchain-deepseek
langchain_mistralai
langchain-groq

tabulate
matplotlib
seaborn
pygwalker
plotly
kaleido
prophet
scikit-learn


gspread
oauth2client